<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Your Todos - Todo App</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include('header') %>
  <main>
    <h2>Your Todos</h2>
    <ul class="todo-list">
      <% todos.forEach(function(todo) { %>
        <li class="<%= todo.completed ? 'completed' : '' %>">
          <%= todo.title %>
        </li>
      <% }) %>
    </ul>
  </main>
  <%- include('footer') %>
</body>
</html>
